<center>
<h1>Events</h1>

<a class="new-event-link" href="/events/new">Create New Event</a>
<br>
<br>
<a href="/events/mine">My Events</a>
<br>
<br>



<br>
<br>
<input type="button" class="submit-but" id="All" name="All" value="All" onclick="buttonclick(event)">
<input type="button" class="submit-but" id="London" name="Londonbut" value="London" onclick="buttonclick(event)">
<input type="button" class="submit-but" id="Sheffield" name="Sheffieldbut" value="Sheffield" onclick="buttonclick(event)">
<input type="button" class="submit-but" id="Birmingham" name="Birminghambut" value="Birmingham" onclick="buttonclick(event)">
<input type="button" class="submit-but" id="Newcastle" name="Newcastlebut" value="Newcastle" onclick="buttonclick(event)">
<input type="button" class="submit-but" id="Bristol" name="Bristolbut" value="Bristol" onclick="buttonclick(event)">
<input type="button" class="submit-but" id="Other" name="Otherbut" value="Other" onclick="buttonclick(event)">
<br>
<br>

<p id="info">Showing all Locations:</p>

<br>
<br>
<h2>All Events</h2>

<ul class="events">
    {{#each events}}
    <div class="loca {{this.location}}1">
    <div class="form1">
    <li class="eventNameClass">What?: {{this.eventName}} </li>
    <li>When?: {{this.eventDate}} </li>
    <li>Where?: {{this.location}} </li>
    <li>Who?: {{this.organiser_id.first_name}} </li>
    <li>
        <br>
        <form action="/events/attend" method = "POST">
        <input type="hidden" id="{{@index}}" name="id" value={{this.id}}>   
        <button class='attend-button' id={{this.id}} type="submit"></button>
        </form>
    </li>
    <li class="eventAttendingNumber">{{this.number_attending}} attending</li>
    
    
    <script>
        id = document.getElementById("{{@index}}").value
 
        $.post('/events/checkattending', {id:id}).done(function(data){
            if (data.attending === 'true'){
                document.getElementById(data.id).innerText = 'Unattend';
            }
            else if (data.attending === 'false') {
            document.getElementById(data.id).innerText = 'Attend';
            }
        })
    </script>
    <br><br>
    <div class="comments">
      {{#each this.attendees}}
        <li class="commenter-comment">{{this.attendees}}</li><br>
      {{/each}}
      <br>
      </div>
    </div>
    </div>
    {{/each}}
</ul>





<script>
   function buttonclick(event){
    let hide = event.target.id + 1
    console.log(hide)
    var x = document.getElementsByClassName("loca");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = 'none';
    }
    

    if (event.target.id === "All"){
    document.getElementById("info").innerHTML = "Showing all event Locations:"
    var x = document.getElementsByClassName("loca");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = 'block';
    }
    
    }else if(event.target.id === "Other"){
        console.log(event.target.id + "1")
        document.getElementById("info").innerHTML = "Showing other event Locations:"
           var x = document.getElementsByClassName(event.target.id + "1");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = 'block';
    }
    }else {
        document.getElementById("info").innerHTML = "Showing event locations in " + event.target.id + ":"
           var x = document.getElementsByClassName(event.target.id + "1");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = 'block';
    }
    }
   }
</script>
</center>