<a class="new-event-link" href="/events/new">Create new event</a>
<br>
<br>
<input type="button" id="All" name="All" value="All" onclick="buttonclick(event)">
<input type="button" id="London" name="Londonbut" value="London" onclick="buttonclick(event)">
<input type="button" id="Sheffield" name="Sheffieldbut" value="Sheffield" onclick="buttonclick(event)">
<input type="button" id="Birmingham" name="Birminghambut" value="Birmingham" onclick="buttonclick(event)">
<input type="button" id="Newcastle" name="Newcastlebut" value="Newcastle" onclick="buttonclick(event)">
<input type="button" id="Bristol" name="Bristolbut" value="Bristol" onclick="buttonclick(event)">
<input type="button" id="Other" name="Otherbut" value="Other" onclick="buttonclick(event)">
<br>
<br>

<p id="info">Showing all Locations:</p>


<ul class="events">
    {{#each events}}
    <div id={{this.location}}1>
<li class="eventNameClass">What?: {{this.eventName}} </li>
<li>When?: {{this.eventDate}} </li>
<li>Where?: {{this.location}} </li>
<li>Who?: {{this.organiser_id.first_name}} </li><br><br>
</div>
    {{/each}}
</ul>

<script>
   function buttonclick(event){
    let hide = event.target.id + 1
    console.log(hide)
    document.getElementById("London1").style.display = 'none'
    document.getElementById("Sheffield1").style.display = 'none'
    document.getElementById("Birmingham1").style.display = 'none'
    document.getElementById("Newcastle1").style.display = 'none'
    document.getElementById("Other1").style.display = 'none'
    document.getElementById("Bristol1").style.display = 'none'
    

    if (event.target.id === "All"){
        document.getElementById("info").innerHTML = "Showing all event Locations:"
        document.getElementById("London1").style.display = 'block'
        document.getElementById("Sheffield1").style.display = 'block'
        document.getElementById("Birmingham1").style.display = 'block'
        document.getElementById("Newcastle1").style.display = 'block'
        document.getElementById("Other1").style.display = 'block'
        document.getElementById("Bristol1").style.display = 'block'
    }else if(event.target.id === "Other"){
        document.getElementById("info").innerHTML = "Showing other event Locations:"
        document.getElementById(hide).style.display = 'block'
    }else {
        document.getElementById("info").innerHTML = "Showing event locations in " + event.target.id + ":"
        document.getElementById(hide).style.display = 'block'
    }
   }
</script>