<center>
<h1>My Events</h1>
<ul>
{{!-- {{#each events as |item|}}
  <li>
    {{item.0}}: {{item.1}}
  </li>
{{/each}} --}}
</ul>
<br>
<br>
<br>

{{#each events }}
<h2>{{eventName}}</h2>
<h3>Guests </h3>
  {{#each (lookup ../arrayOfUsers @index)}}<br>
  {{first_name}} {{last_name}} <br>
  Dietary Requirements: {{dietary_requirements}} <br>
  Wish List: 
  {{#each wish_list}}
  <li>{{this}}</li>
  {{/each}}
  <br>
  {{/each}}
  <br>
  <br>
{{/each}} 





<br>
<br>



</center>

