<center>

<h1>Songs</h1>

<a class="new-song-link" href="/songs/new">Add New Song</a>
<br>
<br>

    
    <h4>Users can only vote once, so make it worth it!!!</h4>

{{#each songs}}
<div class="index-form">
    <br>
<p>Song Title: {{this.songTitle}}</p>
<p>Artist Name: {{this.artistName}}</p>
<p>Votes: {{this.votes}}</p>
<form action="/songs/vote" method = "POST">
    <input type="hidden" id="{{@index}}" name="id" value={{this.id}}>   
    <button class='button' id={{this.id}} type="submit">Vote</button>
</form>
<br>
</div>
<br>
{{/each}}
<br>


</center>