<center>
<h1>All Users</h1>
<h5>Number of Users: {{users.length}}</h5>
<br>
<br>
<h4>Current User: {{current_user}}</h4>
<ul>

{{#each users}}
<div class="all-users-form">
    <br>
<li>{{this.first_name}} {{this.last_name}}</li>
<form action="/users/addfriend" method = "POST">
    <input type="hidden" id={{@index}} name="id" value={{this.id}}>
    <br>
    <button class="friendButton" id={{this.id}} type="submit">{{this.buttonText}}</button>
</form>
<br>
</div>
<br>
<br>
{{/each}}

</ul>
</center>